static_resources:
  listeners:
  - address:
      socket_address:
        address: 0.0.0.0
        port_value: 443
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          codec_type: AUTO
          stat_prefix: ingress_http
          route_config:
            name: local_route
            virtual_hosts:
            - name: app
              domains:
              - "*"
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: service-https
                  host_rewrite_literal: www.envoyproxy.io
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
          common_tls_context:
            tls_certificates:
            - certificate_chain:
                inline_string: |
                  -----BEGIN CERTIFICATE-----
                  MIIF+TCCBOGgAwIBAgIQCWYvALc8TD0U4pAUvO3FgDANBgkqhkiG9w0BAQsFADBu
                  MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
                  d3cuZGlnaWNlcnQuY29tMS0wKwYDVQQDEyRFbmNyeXB0aW9uIEV2ZXJ5d2hlcmUg
                  RFYgVExTIENBIC0gRzEwHhcNMjIwNzExMDAwMDAwWhcNMjMwNzEyMjM1OTU5WjAV
                  MRMwEQYDVQQDEwp4eXotenl4LmNvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
                  CgKCAQEAxBie786WpeKeR6ZuZvp/+miNZx4u2qWWq+wS2qJwa5FTeSRKxFm6MReS
                  tsQoUCl7dIKePhDuoy/ICXlG3GgaFOQLOfbji44eEY1mAl9K1i8lx+ObVfRf/KBp
                  WAeCJ4EigpufNF1ChqKu/kDHgssBukDByDl3Pawy+WSNAcrwMw2w8R82eg2PXAhP
                  /LW6Au8l3Xs2Htrqsdd9hkrUqLNj8tdHHAei3XMM740JCOvWhnL/f7lH6kasmZHW
                  UMJSyC52O+jJCULrZgK9DfgdYb7+afjSktVUS+sLReIwJmu3WlvALlRSAx3PlcXn
                  1a145XI/wpMlehU8ngaVUNQnVaLMNwIDAQABo4IC6jCCAuYwHwYDVR0jBBgwFoAU
                  VXRPsnJP9WC6UNHX5lFcmgGHGtcwHQYDVR0OBBYEFD1uPQddvn1wg53IOWn0ygMP
                  MADqMCUGA1UdEQQeMByCCnh5ei16eXguY2+CDnd3dy54eXotenl4LmNvMA4GA1Ud
                  DwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwPgYDVR0g
                  BDcwNTAzBgZngQwBAgEwKTAnBggrBgEFBQcCARYbaHR0cDovL3d3dy5kaWdpY2Vy
                  dC5jb20vQ1BTMIGABggrBgEFBQcBAQR0MHIwJAYIKwYBBQUHMAGGGGh0dHA6Ly9v
                  Y3NwLmRpZ2ljZXJ0LmNvbTBKBggrBgEFBQcwAoY+aHR0cDovL2NhY2VydHMuZGln
                  aWNlcnQuY29tL0VuY3J5cHRpb25FdmVyeXdoZXJlRFZUTFNDQS1HMS5jcnQwCQYD
                  VR0TBAIwADCCAX4GCisGAQQB1nkCBAIEggFuBIIBagFoAHYArfe++nz/EMiLnT2c
                  Hj4YarRnKV3PsQwkyoWGNOvcgooAAAGB6wGtfAAABAMARzBFAiB7xko1ZsNPlgrK
                  mpS+AkdIydDt3vioa3HhD2m27InKcAIhAMTiPvw+0nWF8vjJEEeVhu1mUJ2bp1Xc
                  QUvqNnBvUq44AHYANc8ZG7+xbFe/D61MbULLu7YnICZR6j/hKu+oA8M71kwAAAGB
                  6wGtWwAABAMARzBFAiATyMLxZshd3SZ+XzSJv8MmafwrDHeEOy1W5xxzA7k9YAIh
                  ANXoXJauHUUJtkM8LyQSMg+tGroMvBh5QUqCj3vbw3XVAHYAs3N3B+GEUPhjhtYF
                  qdwRCUp5LbFnDAuH3PADDnk2pZoAAAGB6wGthQAABAMARzBFAiBxmTc04klxZIi4
                  gL5vQtyOYaWTo/8AQBNtTzoY0L7/qgIhAMxhzfh6+U4tSCKFvN8Pk0++tYIo5AiL
                  OTNa7qcm25L8MA0GCSqGSIb3DQEBCwUAA4IBAQBbzxkqSaVA7CPgRcOobc/3cZ0i
                  aRvtJX9z/MBMOUXaUOVVUpNqTwOlHuBSHVfkI4/vVjZhhNYjvz+pBujT4ZYfAd9W
                  vIIEaGqZC+U/7PPKEvg0HSs0Jl7ErIYkXOZmgGcRfbr02+fDIcGVEc8pFMwPefrk
                  DYdz/EZUSrzyigPRtxW0jWOISxG7p52RDTeZsn5JilrJl3cr98H8ZBC79x4m/xo7
                  3CrOLBxUX0soSCl6U/9oRlolUxZ/JXY/ZIb4d2+6NViFxCPoRCpD8BNTgPwqQ02j
                  /tp8qrz0UmiLdhhxlylvehVRxNuinCxh0uUfE5VfMlmY01AEM1f6IqpxP7sE
                  -----END CERTIFICATE-----
                  -----BEGIN CERTIFICATE-----
                  MIIEqjCCA5KgAwIBAgIQAnmsRYvBskWr+YBTzSybsTANBgkqhkiG9w0BAQsFADBh
                  MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
                  d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBD
                  QTAeFw0xNzExMjcxMjQ2MTBaFw0yNzExMjcxMjQ2MTBaMG4xCzAJBgNVBAYTAlVT
                  MRUwEwYDVQQKEwxEaWdpQ2VydCBJbmMxGTAXBgNVBAsTEHd3dy5kaWdpY2VydC5j
                  b20xLTArBgNVBAMTJEVuY3J5cHRpb24gRXZlcnl3aGVyZSBEViBUTFMgQ0EgLSBH
                  MTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALPeP6wkab41dyQh6mKc
                  oHqt3jRIxW5MDvf9QyiOR7VfFwK656es0UFiIb74N9pRntzF1UgYzDGu3ppZVMdo
                  lbxhm6dWS9OK/lFehKNT0OYI9aqk6F+U7cA6jxSC+iDBPXwdF4rs3KRyp3aQn6pj
                  pp1yr7IB6Y4zv72Ee/PlZ/6rK6InC6WpK0nPVOYR7n9iDuPe1E4IxUMBH/T33+3h
                  yuH3dvfgiWUOUkjdpMbyxX+XNle5uEIiyBsi4IvbcTCh8ruifCIi5mDXkZrnMT8n
                  wfYCV6v6kDdXkbgGRLKsR4pucbJtbKqIkUGxuZI2t7pfewKRc5nWecvDBZf3+p1M
                  pA8CAwEAAaOCAU8wggFLMB0GA1UdDgQWBBRVdE+yck/1YLpQ0dfmUVyaAYca1zAf
                  BgNVHSMEGDAWgBQD3lA1VtFMu2bwo+IbG8OXsj3RVTAOBgNVHQ8BAf8EBAMCAYYw
                  HQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBIGA1UdEwEB/wQIMAYBAf8C
                  AQAwNAYIKwYBBQUHAQEEKDAmMCQGCCsGAQUFBzABhhhodHRwOi8vb2NzcC5kaWdp
                  Y2VydC5jb20wQgYDVR0fBDswOTA3oDWgM4YxaHR0cDovL2NybDMuZGlnaWNlcnQu
                  Y29tL0RpZ2lDZXJ0R2xvYmFsUm9vdENBLmNybDBMBgNVHSAERTBDMDcGCWCGSAGG
                  /WwBAjAqMCgGCCsGAQUFBwIBFhxodHRwczovL3d3dy5kaWdpY2VydC5jb20vQ1BT
                  MAgGBmeBDAECATANBgkqhkiG9w0BAQsFAAOCAQEAK3Gp6/aGq7aBZsxf/oQ+TD/B
                  SwW3AU4ETK+GQf2kFzYZkby5SFrHdPomunx2HBzViUchGoofGgg7gHW0W3MlQAXW
                  M0r5LUvStcr82QDWYNPaUy4taCQmyaJ+VB+6wxHstSigOlSNF2a6vg4rgexixeiV
                  4YSB03Yqp2t3TeZHM9ESfkus74nQyW7pRGezj+TC44xCagCQQOzzNmzEAP2SnCrJ
                  sNE2DpRVMnL8J6xBRdjmOsC3N6cQuKuRXbzByVBjCqAA8t1L0I+9wXJerLPyErjy
                  rMKWaBFLmfK/AHNF4ZihwPGOc7w6UHczBZXH5RFzJNnww+WnKuTPI0HfnVH8lg==
                  -----END CERTIFICATE-----
              private_key:
                inline_string: |
                  -----BEGIN RSA PRIVATE KEY-----
                  MIIEpAIBAAKCAQEAxBie786WpeKeR6ZuZvp/+miNZx4u2qWWq+wS2qJwa5FTeSRK
                  xFm6MReStsQoUCl7dIKePhDuoy/ICXlG3GgaFOQLOfbji44eEY1mAl9K1i8lx+Ob
                  VfRf/KBpWAeCJ4EigpufNF1ChqKu/kDHgssBukDByDl3Pawy+WSNAcrwMw2w8R82
                  eg2PXAhP/LW6Au8l3Xs2Htrqsdd9hkrUqLNj8tdHHAei3XMM740JCOvWhnL/f7lH
                  6kasmZHWUMJSyC52O+jJCULrZgK9DfgdYb7+afjSktVUS+sLReIwJmu3WlvALlRS
                  Ax3PlcXn1a145XI/wpMlehU8ngaVUNQnVaLMNwIDAQABAoIBAEjxqamlzPcvCda4
                  S8gltZZ17uelXCN8RkR0n/zRQQVafVUKUX+hqveY/7vZ0u8ixygrcGbBEKwGWaBg
                  iyHw3YbY324z7yfZ+UhpM0F9pg5vYlvtSDqcmVoVZ6pVvK4qRKaV8g5eBKGlgXfV
                  rAF0t5NLhGoRKlB4LkwEAcnhbiFm9yFZhgGnK3pU2W+BU80yme9LFG5wVH607MBE
                  ndfO8nHskhTzgifCvSXfqX/a2dNzn//ihm1GPCxviLpE6B6n4Ssc1QvLnA/7Tu37
                  UdLmSJJX9B0zYjWG6dE0Dx0Wl4xi6ye8ZaNGzDmkMa/PQqyNA/fK5pYEKwEW5kDk
                  Cf0PiakCgYEA5oSqU4Rf8L0fLbaNrVRn0fQCl5vgB9GmMscFiR0/TP4G8+w01n7i
                  npuMOjcFE/NWGmSf1ZIWcmWyHlVRRq+Wehk8MJPjkC/sy9ivuNb4yoH3Ghd1GM9x
                  J/LOswgvKA2h+OYVrXMWV250+gzhah0+jamwUHQSgKQNSji9mAwwQDkCgYEA2cXc
                  aFDkznla/9D89zpTMEskLt6VT2oOdzY7uONFULf90hozaCu1bAGXxbyAd6V9f/sH
                  Zw7WOS1O/czvrj9aZI7bJ9KkJ8wRgv8a74rSAvGau2JElYNCLngGgDg5eezPNJYJ
                  NaNcv5fIhZ0lD0MGinvm4wWyv12X1FWocmhvj+8CgYEA2LdOnhfsTpqubj6a8aJR
                  vKvnp/ruYstxsXk0NhTeBxcnGDkv75v4l95qtew2BOyXPVbugU3HdqMvEp9pOsgm
                  8wE4ef7/SPYVbAt6II9R9Ki807XL65hSrJj0RJJkKwauCR7esGNrVKVOqipj3WxC
                  +9HVJb4KCxCwQeAYNpL25dkCgYAL3pDozp/p8QtYrhdbkj4+f5n1RAR3U5x+OuJ+
                  bUS15ZFcBjmPD/LPdDbFfES0QLzaYOBCabibXTDU/HqD0MgoevDO9tgjoyfBMA5T
                  yAkyR+DbHbwHOiQ9TCVuj6HyV0nj39mYptLDTo6LWclPT6PnoGExNnpLm9pOpGyN
                  78tE2QKBgQDU3g4u4iagLGUPhjBE08H0PF4swgR9OXvLGBw2IHMPuQLfGUdYDl+b
                  GRFJ+BDeLIzBURGJtbRmuLZ08Jivu6Q1LhQr8jBsc1ZGciK2vL3U6uwZZe3BaEtd
                  bD4Ez+G9CYX3och/sAs7ozXH6RaZoCpieHGuGut8N/4Zt4F3L9EKmw==
                  -----END RSA PRIVATE KEY-----

  clusters:
  - name: service-https
    type: LOGICAL_DNS
    dns_lookup_family: V4_ONLY  
    lb_policy: ROUND_ROBIN
    load_assignment:
      cluster_name: service-https
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: www.envoyproxy.io
                port_value: 443
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        sni: www.envoyproxy.io